# Example usage of LineList (v1.2)

In [1]:
#import
from linetools.lists.linelist import LineList
from linetools.lists import linelist as lll

## Instantiate
### Lists currently include (more to come):
* ISM  (atomic lines)
* Strong
* H2
* Galaxy

### ISM

In [ ]:
ism = LineList('ISM',verbose=False)

### Galaxy

In [2]:
reload(lll)
glx = lll.LineList('Galaxy')

linetools.lists.parse: Reading linelist ---
   /Users/xavier/local/Python/linetools/linetools/data/lines/galaxy_forbidden.ascii
linetools.lists.parse: Reading linelist ---
   /Users/xavier/local/Python/linetools/linetools/data/lines/galaxy_recomb.ascii
linetools.lists.parse: Reading linelist ---
   /Users/xavier/local/Python/linetools/linetools/data/lines/galaxy_abs.ascii
read_sets: Using set file --
  /Users/xavier/local/Python/linetools/linetools/lists/sets/llist_v1.0.ascii

In [3]:
glx._fulltable

<QTable masked=True length=59>
    name      wrest    ratio
             Angstrom
   str11     float64  float64
----------- --------- --------
[OIII] 5007  5008.239      1.0
[OIII] 4959  4960.295      1.0
 [NII] 6584  6585.277      1.0
 [NII] 6548  6549.852      1.0
 [SII] 6716  6718.294      1.0
 [SII] 6731  6732.673      1.0
 [OII] 3726  3727.092      1.0
 [OII] 3729  3729.874      1.0
    Lyalpha   1215.67 23.54656
        ...       ...      ...
  MgII 2796 2796.3543       --
  MgII 2803 2803.5315       --
  CaII 3934  3934.777       --
  CaII 3969  3969.591       --
  NaI  5891 5891.5833       --
  NaI  5897 5897.5581       --
     G Band   4305.61       --
   MgI 5168   5168.74       --
   MgI 5174   5174.14       --
   MgI 5185   5185.04       --

In [4]:
glx['HeI 7065']

{'name': 'HeI 7065', 'ratio': 0.0217386, 'wrest': <Quantity 7067.198 Angstrom>}

## Check Tables

In [ ]:
# Full set of Data ingested
ism._fulltable[0:5]

In [ ]:
# Subset of data to be used
ism._data[0:5]

## Calling specific lines

In [ ]:
ism['HI 1215']  # Returns a dict

In [ ]:
ism[1215.6700]['f']

In [ ]:
ism['HI 1215']['f']

## Parsing entire fields

In [ ]:
FUV = np.where( (ism.wrest > 912.*u.AA) & (ism.wrest < 1200.*u.AA))[0]
ism.wrest[FUV]

In [ ]:
CII_lines = np.where((ism.Z == 6) & (ism.ion == 2))[0]
for lin in CII_lines:
    print('{:s}, Ej={:g}'.format(ism.name[lin], ism.Ej[lin]))