# Example usage of LineList (v1.0)

In [1]:
#import
from linetools.lists.linelist import LineList

## Initialize
### Lists currently include (more to come):
* ISM
* Strong
* H2

In [2]:
ism = LineList('ISM',verbose=False)

linetools.lists.parse: Reading linelist ---
   /Users/xavier/local/Python/linetools/linetools/data/lines/morton03_table2.vot
linetools.lists.parse: Reading linelist ---
   /Users/xavier/local/Python/linetools/linetools/data/lines/verner94_tables.vot

WARNING: W06: /Users/xavier/local/Python/linetools/linetools/data/lines/verner94_tables.vot:234:4: W06: Invalid UCD 'phys.atmol.level': Secondary word 'phys.atmol.level' is not valid as a primary word [astropy.io.votable.exceptions]
WARNING:astropy:W06: /Users/xavier/local/Python/linetools/linetools/data/lines/verner94_tables.vot:234:4: W06: Invalid UCD 'phys.atmol.level': Secondary word 'phys.atmol.level' is not valid as a primary word
WARNING: W06: /Users/xavier/local/Python/linetools/linetools/data/lines/verner94_tables.vot:927:4: W06: Invalid UCD 'phys.atmol.level': Secondary word 'phys.atmol.level' is not valid as a primary word [astropy.io.votable.exceptions]
WARNING:astropy:W06: /Users/xavier/local/Python/linetools/linetools/data/lines/verner94_tables.vot:927:4: W06: Invalid UCD 'phys.atmol.level': Secondary word 'phys.atmol.level' is not valid as a primary word

## Check Tables

In [6]:
# Full set of Data ingested
ism._fulltable[0:5]

<QTable masked=True length=5>
             A                 el    nj  ...   gj             gamma
           1 / s                         ...                  1 / s
          float64            int64 int64 ... int64           float64
---------------------------- ----- ----- ... ----- ----------------------------
<Quantity 626500000.0 1 / s>     0     0 ...     2         <Quantity 0.0 1 / s>
<Quantity 626500000.0 1 / s>     0     0 ...     2 <Quantity 626500000.0 1 / s>
<Quantity 626500000.0 1 / s>     0     0 ...     2 <Quantity 626500000.0 1 / s>
<Quantity 167300000.0 1 / s>     0     0 ...     2         <Quantity 0.0 1 / s>
<Quantity 167300000.0 1 / s>     0     0 ...     2 <Quantity 189700000.0 1 / s>

In [7]:
# Subset of data to be used
ism._data[0:5]

<QTable masked=True length=5>
         A             el    nj    nk  ...   gk    gj         gamma
       1 / s                           ...                    1 / s
      float64        int64 int64 int64 ... int64 int64       float64
-------------------- ----- ----- ----- ... ----- ----- --------------------
<Quantity 0.0 1 / s>     0     0     0 ...     2     2 <Quantity 0.0 1 / s>
<Quantity 0.0 1 / s>     0     0     0 ...     6     4 <Quantity 0.0 1 / s>
<Quantity 0.0 1 / s>     0     0     0 ...     6     4 <Quantity 0.0 1 / s>
<Quantity 0.0 1 / s>     0     0     0 ...     2     4 <Quantity 0.0 1 / s>
<Quantity 0.0 1 / s>     0     0     0 ...     4     4 <Quantity 0.0 1 / s>

## Calling specific lines

In [8]:
ism['HI 1215']

<Row 0 of table
 values=(626500000.0, 0, 0, 0, 1, u'HI 1215', 2259.163, 0.4164, 1215.67, u'Morton2003', u'', 0.0, 1, 0.0, 0.0, 0.0, 1, 6, 2, 0.0)
 dtype=[('A', '<f8'), ('el', '<i8'), ('nj', '<i8'), ('nk', '<i8'), ('group', '<i8'), ('name', '<U20'), ('Ek', '<f8'), ('f', '<f8'), ('wrest', '<f8'), ('Ref', '<U50'), ('mol', '<U10'), ('Ej', '<f8'), ('ion', '<i8'), ('Ex', '<f8'), ('Jj', '<f8'), ('Jk', '<f8'), ('Z', '<i8'), ('gk', '<i8'), ('gj', '<i8'), ('gamma', '<f8')]>

In [9]:
ism['HI 1215']['f']

0.41639999999999999

## Parsing entire fields

In [11]:
FUV = np.where( (ism.wrest > 912.*u.AA) & (ism.wrest < 1200.*u.AA))[0]
ism.wrest[FUV]

<Quantity [  912.7032,  912.7676,  912.8389,  913.1042,  912.9179,
             913.0059,  913.2146,  913.3391,  913.4803,  913.6411,
             913.641 ,  913.641 ,  913.8256,  913.9683,  914.0385,
             914.2861,  914.286 ,  914.285 ,  914.5762,  914.9192,
             914.919 ,  915.0799,  915.3289,  915.5746,  915.8238,
             916.1798,  916.4291,  917.1178,  916.931 ,  917.1805,
             917.8796,  918.1293,  919.1013,  919.101 ,  919.3513,
             920.7125,  920.7125,  920.7125,  920.963 ,  920.963 ,
             920.963 ,  921.86  ,  921.86  ,  921.86  ,  922.2   ,
             922.8992,  922.8992,  922.8992,  923.1503,  923.1503,
             923.1503,  924.952 ,  924.952 ,  924.952 ,  925.442 ,
             925.9737,  925.9737,  925.9737,  926.2256,  926.2257,
             926.2256,  929.5168,  930.2566,  930.495 ,  930.4951,
             930.495 ,  930.7482,  930.7482,  930.7482,  933.378 ,
             936.6295,  937.5483,  937.5484,  937.5483,  937.8034,
             937.8035,  937.8034,  944.523 ,  945.191 ,  945.338 ,
             945.579 ,  948.6855,  949.4846,  949.4848,  949.4846,
             949.743 ,  949.7431,  949.7429,  950.8846,  953.4152,
             953.6549,  953.9699,  954.8267,  963.8005,  963.9903,
             964.6256,  965.0413,  971.7382,  971.7376,  971.7371,
             972.2722,  972.2725,  972.272 ,  972.5367,  972.537 ,
             972.5366,  976.4481,  977.0201,  988.5778,  988.6549,
             988.7734,  989.799 ,  989.8731,  997.9996, 1012.501 ,
            1020.6989, 1025.4432, 1025.444 , 1025.4428, 1025.7222,
            1025.723 , 1025.7218, 1025.7626, 1025.7616, 1025.9681,
            1026.1134, 1031.9261, 1036.3367, 1037.0182, 1037.6167,
            1039.2304, 1048.2199, 1055.2617, 1062.1517, 1062.662 ,
            1063.1764, 1063.8311, 1063.9718, 1066.6598, 1071.0358,
            1081.8748, 1096.8769, 1106.3596, 1112.048 , 1112.269 ,
            1117.    , 1117.133 , 1117.205 , 1117.244 , 1117.338 ,
            1117.393 , 1117.542 , 1117.581 , 1117.604 , 1117.6217,
            1117.675 , 1117.73  , 1117.865 , 1117.9202, 1117.9774,
            1118.07  , 1118.1254, 1118.3798, 1118.408 , 1118.4631,
            1118.491 , 1118.7176, 1121.453 , 1121.5196, 1121.641 ,
            1121.659 , 1121.7132, 1121.7261, 1121.758 , 1121.9198,
            1121.9748, 1121.999 , 1122.004 , 1122.0659, 1122.098 ,
            1122.1797, 1122.2597, 1122.327 , 1122.344 , 1122.437 ,
            1122.5183, 1122.644 , 1122.7252, 1122.7729, 1122.795 ,
            1122.985 , 1123.0656, 1123.107 , 1123.1192, 1123.135 ,
            1123.4599, 1125.4477, 1128.0078, 1128.081 , 1128.1713,
            1128.252 , 1128.29  , 1128.3803, 1128.408 , 1128.477 ,
            1128.634 , 1128.6861, 1128.7241, 1128.752 , 1128.817 ,
            1128.9028, 1129.0301, 1129.078 , 1129.141 , 1129.161 ,
            1129.195 , 1129.3175, 1129.405 , 1129.4222, 1129.5269,
            1129.5945, 1129.624 , 1129.749 , 1129.8714, 1129.925 ,
            1129.969 , 1130.1708, 1130.5157, 1133.6654, 1134.1653,
            1134.4149, 1134.9803, 1138.384 , 1138.557 , 1138.5609,
            1138.597 , 1138.598 , 1138.743 , 1138.7738, 1138.947 ,
            1139.0867, 1139.093 , 1139.124 , 1139.2998, 1139.4256,
            1139.5145, 1139.6503, 1139.7659, 1139.7919, 1139.793 ,
            1139.8121, 1139.8651, 1140.0053, 1140.0096, 1140.1167,
            1140.223 , 1140.3165, 1140.3562, 1140.3576, 1140.5741,
            1140.6415, 1140.7088, 1141.3267, 1141.6785, 1142.3656,
            1143.226 , 1144.9379, 1149.958 , 1152.818 , 1155.8092,
            1155.9793, 1156.0286, 1156.1842, 1156.1992, 1156.3895,
            1156.4037, 1156.5603, 1156.7648, 1157.1857, 1157.33  ,
            1157.4056, 1157.7674, 1157.7697, 1157.9097, 1158.0188,
            1158.0349, 1158.1299, 1158.1317, 1158.324 , 1158.3971,
            1158.4921, 1158.5443, 1158.6744, 1158.7321, 1158.9068,
            1158.9668, 1159.0947, 1159.8168, 1160.5131, 1160.8768,
            1160.9366, 1188.8329, 1188.9928, 1189.065 , 1189.2488,
            1189.4468, 1189.6307, 1190.0209, 1190.2535, 1190.4158,
            1190.636 , 1191.842 , 1192.2175, 1193.0085, 1193.03  ,
            1193.2401, 1193.2637, 1193.2897, 1193.3928, 1193.6483,
            1193.6786, 1193.9954, 1194.0634, 1194.2295, 1194.301 ,
            1194.4055, 1194.4885, 1194.6146, 1194.6862, 1197.184 ,
            1197.3938, 1197.875 , 1198.2625, 1199.391 , 1199.5496] Angstrom>

In [13]:
CII_lines = np.where((ism.Z == 6) & (ism.ion == 2))[0]
ism.name[CII_lines]

array([u'CII 1036', u'CII* 1037', u'CII 1334', u'CII* 1335', u'CII 2325'],
      dtype='<U20')